Xml2Dox - Librairie/Parametrage/About/About.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="About">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Description">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Text">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Lang" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Version" type="xs:string" />
				<xs:element name="Contacts">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Contact">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RepoLink" type="xs:string" />
				<xs:element name="Members">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Member">
								<xs:complexType>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="Role" type="xs:string" use="required" />
									<xs:attribute name="Contact" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>