Xml2Dox - Librairie/Parametrage/XmlDoc/XmlDoc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Version">
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="Value" type="xs:string" use="required" />
	</xs:complexType>
	
	<xs:element name="Documentations">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" name="Name" type="xs:string" />
				<xs:element maxOccurs="1" name="VersionS1" type="Version"/>
				<xs:element maxOccurs="1" name="VersionS2" type="Version"/>
				<xs:element maxOccurs="1" name="Historiques">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Historique">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Date" type="xs:string" use="required" />
											<xs:attribute name="Auteur" type="xs:string" use="required" />
											<xs:attribute name="Fiche" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Variables">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Variable">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="Value" type="xs:boolean" use="required" />
									<xs:attribute name="Version" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Templates">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Template">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="Return" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="Params">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="Param">
														<xs:complexType>
															<xs:attribute name="Code" type="xs:string" use="required" />
															<xs:attribute name="Description" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>